/* CSS styles for the indiefind project that will be applied to all pages. Any other styles that are page specific will be in other css files.*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d86d6d;
    color: #4187b8;
}